<h1>Admin Editing Page</h1>

<% if @#.any? %>

  <% @#.each do |#| %>
    <p><a href="/admin/edit/<%=#.id%>"> <%=#.name%> </a></p>
  <% end %>

<% else %>
  <p>There's currently no information to display!</p>
<% end %>

<button type="button" class="btn btn-dark"><a href="/home/#">####</a></button>