<h1> Welcome to the Home Page </h1>

<h3> Current Projects </h3>

  <% if @projects.any? %>
    <ul>
    <% @projects.each do |project| %>
      <li><a href="/home/<%= project.id%>"> <%= project.title%> </a></li>
    <% end %>
    </ul>
    <% else %>
  <p> We don't currently have any projects, why don't you add one? </p>
  <% end  %>


<form action="/project/new" method="post">
  <div class="form-group">
    <input id="title" name="title" class="form-control" type="text" placeholder = "Project Title">
    <!-- STRETCH GOAL: DESCRIPTION <input id="description" name="description" class="form-control" type="text" placeholder = "placeholder"> -->
  </div>
  <button type="submit" class="btn btn-dark">Create Project</button>
</form>
