<h1> Welcome to the Home Page </h1>

<h3> Current Projects </h3>
<div class="box">
  <% if @projects.any? %>
    <ul>
    <% @projects.each do |project| %>
      <li><a href="/home/<%= project.id%>"> <%= project.title%> </a></li>
    <% end %>
    </ul>
    <% else %>
  <p> We don't currently have any projects, why don't you add one? </p>
  <% end  %>
</div>

<form action="/project" method="post">
  <div class="form-group">
    <input id="title" name="title" class="form-control" type="text" placeholder = "Project Title">
    <!-- STRETCH GOAL: DESCRIPTION <input id="description" name="description" class="form-control" type="text" placeholder = "placeholder"> -->
  </div>
  <button type="submit" class="btn btn-dark">Create Project</button>
</form>

<!-- <div class="box">
  <a href="/volunteers"> Become a volunteer today!</a>
</div> -->
<br>
<!-- <button type="button" class="btn btn-dark"><a href="/volunteers">#</a></button> -->
<!-- STRETCH GOAL ADMIN PAGE: <button type="button" class="btn btn-dark"><a href="/admin/login">Admin Login</a></button> -->