<h1> PAGE TITLE </h1>

<h3> </h3>

<% if @#.any? %>
  <ul>
  <% @#.each do |#| %>
    <li> <%= #.name%> </li>
  <% end %>
  </ul>
  <% else %>
<p> No info to display! Try again later </p>
<% end  %>

<button type="button" class="btn btn-dark"><a href="/home/#">####</a></button>
<button type="button" class="btn btn-dark"><a href="/admin/login">Admin Login</a></button>