<h1>POST PAGE EX</h1>

<form action="/#" method="post">
  <div class="form-group">
    <input id="#" name="#" class="form-control" type="text" placeholder = "placeholder">
    <input id="#" name="#" class="form-control" type="text" placeholder = "placeholder">
  </div>
  <button type="submit" class="btn btn-info">submit</button>
</form>



