.container { 
  padding: 100px;
  flex-flow: column;
  text-align: center;
  justify-content: center;
}

.well {
  padding: 50px;
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.882);
  zoom: 100%;
  color: black
}

a {
  color: black;
}

a:hover {
  color: white;
}

body {
  background-color: black;
}
